.main-container{
    position:absolute;
    z-index:15;
    top:50%;
    left:50%;
    margin:100px 0 0 -250px;
   
}
#main_tag{
 position:relative;   
}
a{

  color: #474242;
}
#myprofile img{
   border-radius: 50%;
  width: 150px;
  height: 150px;
  border:2px solid #fff;
}
#myprofile img:hover{
  
  border:2px solid black;
  box-shadow: 0 1px 25px 2px #9b4646;
}
#name{
font-family: fantasy;
text-align: center;
color: #fff;
font-weight: 700;

}
#info{
  
  color:rgba(149, 149, 149, 1);
  margin-top: 8px;
  text-align: center;
}
.social_icon{
  text-align: center;

}
.ic{
  padding-right:25px;
  margin-top: 30px;
   color: #fff;

}
.ic:hover{
  -ms-transform: rotate(45deg); /* IE 9 */
    -ms-transform-origin: 20% 40%; /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari 3-8 */
    -webkit-transform-origin: 20% 40%; /* Safari 3-8 */
    transform: rotate(45deg);
    transform-origin: 20% 40%;
}
.icg:hover{
color: #8B0000;
}
.ici:hover{
  color: #00FFFF;
}
.icf:hover{
  color: #0000FF;
}
.ict:hover{
  color: #00BFFF;
}
.icy:hover{
  color: #FF0000;
}
.menu ul li{
text-align:center;
font-weight:bold;
 color: #fff;
  list-style: none;
    float:left;
    margin: 30px;
    margin-top: 35px;
    padding-left: 10px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
}
.menu ul li:hover{
color:red;
box-shadow:2px -1px  5px 3px green;

}


/*Device width  maximum width 380px*/
 @media screen and (max-width:380px){

  .main-container{

    margin:100px 0 0 -140px;
   
}
  #name{
font-size: 25px;
font-weight: 700;
}

  .menu ul li{

    font-size: 14px;
    margin: 6px;
    margin-top: 18px;
    margin-left: 13px;

}
.menu ul li:hover{
box-shadow:1px -1px  2px 1px green;

}
.menu{
  margin-left: -25px;
}
#info{
  font-size: 12px;
 
}

.ic{
  padding-right:18px;

}


 }
 /*Device width  maximum width 590px*/
 @media screen and (max-width:590px)and (min-width:381px){
.main-container{
  
    margin:100px 0 0 -160px;
   
}
  #name{

font-size: 28px;

}
  .menu ul li{

    font-size: 17px;
    margin: 18px;
    margin-left: 2px;
}
.menu ul li:hover{
box-shadow:1px -1px  2px 1px green;

}

#info{
  font-size: 13px;
  
}

.ic{
  padding-right:18px;

}


 }
